=render :partial => 'shared/header'
%h2 Order Details
=@order
%h2 Shipping Details
=@customer.forename
%br
=@customer.surname
%br
=@customer.address
%br
=@customer.postcode
%br
=@customer.county
%br
=@customer.city
%br
=@customer.country