=render :partial => 'shared/header'
.center
  %h5.space-50 Order Confirmed
  %h5.space-50 Shipping Details
  =@customer.forename
  =@customer.surname
  %br
  =@customer.address
  %br
  =@customer.postcode
  %br
  =@customer.county
  %br
  =@customer.city
  %br
  =@customer.country